mixin ReviewsList(data)
  ul.reviews-list(class!=attributes.class)
    each review in data
      - const {title, preview, images} = review;
      - const {mobile1x, mobile2x, desktop1x, desktop2x} = images;
      li.reviews-list__card
        a.reviews-list__link(href="#")
          div.reviews-list__image-mask
            picture
              source(
                media="(min-width: 1024px)"
                srcset=`${desktop1x}, ${desktop2x} 2x`
              )
              img.reviews-list__card-image(
                width="100%",
                height="auto"
                src=mobile1x,
                srcset=`${mobile2x} 2x`
              )
          h3.reviews-list__card-title= title
          p.reviews-list__card-preview= preview
