mixin Events(data)
  section.events(class!=attributes.class)
    h2.visually-hidden события
    ul.events__list
      each eventData in data
        - const {title, images, isLight} = eventData;
        - const {mobile1x, mobile2x, desktop1x, desktop2x} = images;
        - const titleModifier = isLight ? "events__card-title--dark" : "";
        li.events__item
          picture
            source(
              media="(min-width: 1024px)"
              srcset=`${desktop1x}, ${desktop2x} 2x`
            )
            img.events__card-image(
              src=mobile1x,
              srcset=`${mobile2x} 2x`
              width="100%",
              height="auto"
            )
          h3.events__card-title(class=titleModifier)= title
          a.events__card-link(href="#")  смотреть
